<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Menu - Netflix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles.css" />
</head>

<body>
    <nav class="navbar">
        <div class="logo">NETFLIX</div>
        <div class="nav-links">
            <a href="#" class="active">Home</a>
            <a href="#">TV Shows</a>
            <a href="#">Movies</a>
            <a href="#">New & Popular</a>
            <a href="#">My List</a>
        </div>
        <div class="icons">
            <img src="../../images/icons/search-icon.png" alt="Search" />
            <img src="../../images/icons/notifications-icon.png" alt="Notifications" />
            <img src="../../images/profile_pictures/profile_picture_1.jfif" alt="User Profile" class="profile-icon" />
        </div>
    </nav>

    <!-- JavaScript files -->
    <script src="../../models/data.js"></script>
    <script src="../utils.js"></script>
    <script type="module" src="../auth/auth.js"></script>
    <script type="module" src="feed.js"></script>

</body>

</html>